<script type="text/javascript" src="https://unpkg.com/vue"></script>
<link href="https://unpkg.com/todomvc-app-css@2.1.0/index.css" rel="stylesheet"/>

<section class="todoapp">
 <header class="header">
    <h1>todos</h1>
    <input class="new-todo"
      autocomplete="off"
      v-model="newTodo"
      @keyup.enter="addTodo"
      placeholder="What needs to be done?">
  </header>
  <section class="main" >
    <input class="toggle-all" id="toggle-all" type="checkbox" v-model="allDone">
    <label for="toggle-all">Mark all as complete</label>

    <ul class="todo-list">
      <li class="todo" v-for="todo in filterdTodos" 
        :class="{completed:todo.completed,editing:todo==editingTodo}">
        <div class="view">
          <input class="toggle" type="checkbox" v-model="todo.completed">
          <label @dblclick="editTodo(todo)">{{todo.title}}</label>
          <button class="destroy" @click="deleteTodo(todo)"></button>
        </div>
        <input class="edit" type="text" v-model="todo.title" 
          @keyup.enter="doneEditing()"
          @keyup.esc="cancelEditing()"
          >
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count">
      <strong>{{remaningTodos}}</strong> {{remaningText}} left
    </span>
    <ul class="filters">
      <li><a href="#" @click.prevent="visibility='all' " 
        :class="{selected:visibility=='all'}">All</a></li>
      <li><a href="#" @click.prevent="visibility='active' "
        :class="{selected:visibility=='active'}">Active</a></li>
      <li><a href="#" @click.prevent="visibility='completed' "
        :class="{selected:visibility=='completed'}">Completed</a></li>
    </ul>
    <button class="clear-completed" @click="removeCompleted">
      Clear completed
    </button>
  </footer>
</section>

<script type="text/javascript">
  var filters = {
    'all': function(todos){
      return todos;
    },
    active: function(todos){
      return todos.filter(function(todo){
        return ! todo.completed;
      });
    },
    completed: function(todos){
      return todos.filter(function(todo){
        return todo.completed;
      });
    }

  }

  new Vue({
    'el': '.todoapp',
    data: {
      newTodo: '',
      visibility: 'all',
      editingTodo: null,
      oldEditingTodoTitle: null,
      todos: [
        {title:'test 1', completed: true},
        {title:'test 2', completed: false},
      ]
    },
    computed:{
      filterdTodos: function(){
        return filters[ this.visibility ] (this.todos);
      },
      remaningTodos: function(){
        return filters.active( this.todos ).length;
      },
      remaningText: function(){
        if( filters.active( this.todos ).length > 1)
          return 'items';

        return 'item';
      },
      allDone: {
        get: function(){
          return this.remaningTodos === 0;
        },
        set: function(value){
          this.todos.forEach(function(todo){
            todo.completed = value;
          });
        }
      }
    },
    methods:{
      deleteTodo: function(todo){
        this.todos.splice(this.todos.indexOf(todo), 1);
      },
      addTodo: function(){
        if(this.newTodo == '')
          return ;
        
        this.todos.push({
          'title': this.newTodo,
          'completed': false,
        });
        this.newTodo = '';
      },
      removeCompleted(){
        this.todos = filters.active( this.todos );
      },

      editTodo(todo){
        this.editingTodo = todo;
        this.oldEditingTodoTitle = todo.title;
      },
      doneEditing(){
        if(this.editingTodo.title == '')
          this.deleteTodo(this.editingTodo);

        this.editingTodo = null;
      },
      cancelEditing(){
        this.editingTodo.title = this.oldEditingTodoTitle;
        this.editingTodo = null;
      }
    }
  });
</script>