<script type="text/javascript" src="https://unpkg.com/vue"></script>
<link href="https://unpkg.com/todomvc-app-css@2.1.0/index.css" rel="stylesheet"/>

<section class="todoapp">
 <header class="header">
    <h1>todos</h1>
    <input class="new-todo"
      autocomplete="off"
      v-model="newTodo"
      @keyup.enter="addTodo"
      placeholder="What needs to be done?">
  </header>
  <section class="main" >
    <ul class="todo-list">
      <li class="todo" v-for="todo in todos" :class="{completed:todo.completed}">
        <div class="view">
          <input class="toggle" type="checkbox" v-model="todo.completed">
          <label>{{todo.title}}</label>
          <button class="destroy" @click="deleteTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>

</section>

<script type="text/javascript">
  new Vue({
    'el': '.todoapp',
    data: {
      newTodo: '',
      todos: [
        {title:'test 1', completed: true},
        {title:'test 2', completed: false},
      ]
    },
    methods:{
      deleteTodo: function(todo){
        this.todos.splice(this.todos.indexOf(todo), 1);
      },
      addTodo: function(){
        if(this.newTodo == '')
          return ;
        
        this.todos.push({
          'title': this.newTodo,
          'completed': false,
        });
        this.newTodo = '';
      }
    }
  });
</script>